<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies ni Sachi</title>
</head>
<body>
    <table>
        <thead>
            <th>Hobbies</th>
            <th>Started</th>
            <th>Active or Not</th>
        </thead>
        <tr>
            <td>Dancing</td>
            <td>Since elementary</td>
            <td>A little bit</td>
        </tr>
        <tr>
            <td>Acting</td>
            <td>Highschool</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Cooking</td>
            <td>Highschool</td>
            <td>Yes!</td>
        </tr>
    </table>

</body>
</html>