<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sachi's Node js</title>
</head>
<body>
    <h1>What?</h1>
    <h2>This page is all about Ma. Sachilette</h2>

<h4>To go to other route just type either the follwing:</h4>
<h5>localhost:3000/</h5>
<h5>localhost:3000/about</h5>
<h5>localhost:3000/hobbies</h5>
<h5>localhost:3000/other</h5>
<h5>localhost:3000(none of the above)</h5>

</body>
</html>